@import "../../Styled/Sheared/FontSizes.scss";
@import "../../Styled/Sheared/backgroun-color.scss";
.project-container {
  background-color: $project-background-color;
}
.width-controll {
  width: 80%;
}
.project-title {
  font-size: $title;
}
@media screen and (max-width: 480px) {
  .width-controll {
    width: 100%;
  }
}
