@import "../../Styled/Sheared/Font.scss";
@import "../../Styled/Sheared/backgroun-color.scss";
.project-container {
  background-color: $project-background-color;
}
.width-controll {
  width: 80%;
}
.project-title {
  font-size: fontSize(title);
  padding: 90px 0px;
}
@media screen and (max-width: 480px) {
  .width-controll {
    width: 116%;
  }
}
