.project-container {
  padding: 26px 105px;
  background-color: rgb(51, 47, 47);
}

.project-card {
  max-width: 964px;
  max-height: 300px;
}
.project-tech {
  display: flex;
}
.project-tech p {
  border: 1px solid gray;
  padding: 4px 9px;
  margin-left: 3px;
}
.project-image {
  max-width: 200px;
  overflow: hidden;
}
.project-tech a {
  border: 1px solid rgb(218, 206, 206);
  width: 70px;
  font-size: 15px;
  font-weight: 500;
  padding: 4px 14px;
  text-decoration: none;
}
