.project-container {
  padding: 26px 105px;
}
.project-container:hover {
  box-shadow: 5px 10px 20px#888888;
}

/* .project-container:hover .project-image-container .project-image {
  width: 350px;
  transition-property: width;
  transition-duration: 2s;
} */
.project-image:hover {
  width: 350px;
  transition-property: width;
  transition-duration: 2s;
}

.project-card {
  max-width: 964px;
  max-height: 300px;
}
.project-tech {
  display: flex;
}
.project-tech p {
  border: 1px solid gray;
  padding: 4px 9px;
  margin-left: 3px;
}
.project-image {
  width: 200px;
  overflow: hidden;
}
.project-tech a {
  border: 1px solid rgb(218, 206, 206);
  width: 111px;
  font-size: 15px;
  font-weight: 500;
  padding: 9px 11px;
  text-decoration: none;
  margin-left: 12px;
}
.project-card-icon {
  padding-left: 3px;
}
