@import "../../Styled/Sheared/backgroun-color.scss";

.contact-us-parent {
  background-color: $contact-background-color;
}

.contact-us-container {
  background-color: $contact-card-background-color;
  padding: 60px 50px;
  margin: 79px 63px;
}
